input[type="text"] {
    position: absolute;
    height: 35px;
    top: 10%;
    width: 70%;
    left: 10%;
    border: 2px solid #fc0;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 16px;
}

input[type="submit"] {
    position: absolute;
    height: 35px;
    top: 10%;
    left: 80%;
    font-size: 16px;
    background-color: #fc0;
    border: none;
    margin: 8px 0;
    padding-left: 20px;
    padding-right: 20px;
}

input {
    border-radius: 0px;
}

body {
    font-family: "Roboto", Arial, sans-serif;
}

p {
    font-family: "Roboto", Arial, sans-serif;
}

.card {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    margin-bottom: 8px;
    width: 100%;
    height: 152px;
    border-radius: 15px;
    border: solid 0.5px #85898a;
    background-color: #fdfdfd;
}

.container {
    padding: 2px 16px;
}

.logo {
    top: 10%;
    left: 50%;
    display: flex;
    align-items: center
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    margin-top: 10px;
}