
body{
    background: #A9BDC7;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

h1{
    color: coral;
}

h2{
    color: whitesmoke;
}


@media screen and (max-width: 767px) {
    body{font-size: 12px;}
    h1 { font-size: 25px;
        margin-top: 10px;
        margin-bottom: 10px;}
    h2 { font-size: 18px; }
    h3 { font-size: 12px; }
    h4 { font-size: 12px; }
    caption {font-size: 18px }
    p {  font-size: 12px; }
    th { font-size: 14px; }
    td { font-size: 12px; }
    a{font-size: 10px}


}

@media screen and (min-width: 768px) {
    h1 { font-size: 60px;
        margin-top: 10px;
        margin-bottom: 10px;}
    h2 { font-size: 24px; }
    h3 { font-size: 15px; }
    h4 { font-size: 15px; }
    caption {font-size: 24px }
    p {  font-size: 15px; }
    th { font-size: 18px; }
    td { font-size: 15px; }
    a{font-size: 13px}


}

@media screen and (min-width: 992px) {
    h1 { font-size: 60px;
        margin-top: 20px;
        margin-bottom: 20px;}
    h2 { font-size: 24px; }
    h3 { font-size: 20px; }
    h4 { font-size: 20px; }
    caption {font-size: 24px }
    p {  font-size: 18px; }
    th { font-size: 18px; }
    td { font-size: 15px; }
    a{font-size: 15px}
}

div {
    text-align: center;
}

div.col {
    float: left;
    margin: 0;
    box-sizing: border-box; /* calculate size including the border */
}

div.row {
    clear: both;
    border-width: 0;
}

div.span-1  { width: calc(100% *  1 / 12); }
div.span-2  { width: calc(100% *  2 / 12); }
div.span-3  { width: calc(100% *  3 / 12); }
div.span-4  { width: calc(100% *  4 / 12); }
div.span-5  { width: calc(100% *  5 / 12); }
div.span-6  { width: calc(100% *  6 / 12); }
div.span-7  { width: calc(100% *  7 / 12); }
div.span-8  { width: calc(100% *  8 / 12); }
div.span-9  { width: calc(100% *  9 / 12); }
div.span-10 { width: calc(100% * 10 / 12); }
div.span-11 { width: calc(100% * 11 / 12); }
div.span-12 { width: calc(100% * 12 / 12); }
