@import "common.css";


table, th, td {
    border: 1px solid coral;
}

* {
    box-sizing: border-box;
}

.main {
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10px;
}


