@import "common.css";


table, th, td {
   background: coral;
    border-radius: 5px;
    border-collapse: collapse;
    border: 1px solid whitesmoke;
}

th, td{
    border-top: none;
    height: 20px;
    text-align: center;
    padding: 10px;
    color: whitesmoke;
}

* {
    box-sizing: border-box;
}



code {
    background: coral;
    color: whitesmoke;
    border-radius: 5px;
}

