@import "common.css";


table, th, td {
    border: 1px solid coral;
}

* {
    box-sizing: border-box;
}



<<<<<<< HEAD
code {
    background: coral;
    color: whitesmoke;
    border-radius: 5px;
}

=======
>>>>>>> parent of 9214406... made several changes
